{
    "timeout": 10,
    "source": {
        "directories": [
            "src\/Sp"
        ]
    },
    "logs": {
        "text": "tests/ci/infection.log"
    },
    "mutators": {
        "@default": true
    }
}
